$bgColor : darkgrey;
body {
	background-color: $bgColor;
}
h4 {
	color: #oobbcc;
}
.container {
	display: flex;
  	align-items: center;
  	justify-content: center;
}
.title {
	font-weight: 200;
	font-size: 20px;	
}