* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
    font-size: 16px;
    background-color: #EFEFEF;
    background-image: url('../images/bgimg.png');

}

.fa-custom-logo {
    font-size: 2.2em;
    color: grey;
    padding: 5px;
}

.fa-custom {
    font-size: 1.2em;
    padding-right: 10px;
    color: black;
}

.topgit-header {
    background-color: white !important;
    color: black;
}

.topgit-title {
    position: relative;
    bottom: 2px;
    color: green;
}

.topgit-sub-title {
    font-size: 0.8em;
    font-weight: 100;
    color: #8bc34a !important;
    position: relative;
    bottom: 2px;
    color: black !important;
}

.home {
    display: flex;
    flex-direction:row;
}

.home__search {
    width: auto;
    height: auto;
}
.home__search__form {
    display:  flex;
    width: 100vw;
    padding: 0 100px;
    justify-content: center;
    border-bottom: 1px solid darkgoldenrod;
    background-color: hsla(0, 0%, 62%, 0.63);
}
.home__search__form__field {
    flex: 1 1;
    text-align: center;
    padding: 10px;
}
.home__search__form__field__btn{
    margin-top: 15px;
    color: saddlebrown;
    background-color: white;
    border: 1px solid saddlebrown;
    &:hover{
        color: white;
        background-color: saddlebrown;
    }
}
.home__search__form__field__slider {
    margin-top: 15px;
}
.home__search__form__field__slider::before {
    content: '0';
    position: absolute;
    bottom: 0;
    left: 30px;
}
.home__search__form__field__slider::after {
    content: '1000';
    position: absolute;
    bottom: 0;
    right: 30px;
}
.home__search__form__field__slider__value {
    background-color: saddlebrown;
    color: white;
    padding: 5px;
    position: relative;
    top: 0;
}
.home__search__results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.home__search__results__card {
    margin-top:  10px;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}
.home__search__results__card__avatar {
    width: 70px;
    height: 70px;
    display: block;
    clear: left;
    padding: 0;
    margin: 0;
}
.home__search__results__card__title {
    background-color: lightgrey;
    box-shadow: 1px 1px 1px grey;
}
.home__search__results__card__img-container {
    padding-bottom: 0;
}
.home__search__results__sub-menu {
    display: inline-flex;
}
.home__search__results__sub-menu__item{
    display: inline-flex;
    padding: 0 10px;
}
.home__search__results__sub-menu__item span{
    margin-right: 5px;
}

