* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
::-webkit-input-placeholder {
   color: darkgoldenrod;
}

:-moz-placeholder { /* Firefox 18- */
   color: darkgoldenrod;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: darkgoldenrod;  
}

:-ms-input-placeholder {  
   color: darkgoldenrod;  
}
input[list="languages"] {
      width: 12em;
      border: none;
      background: #eee;
    }
select {
  width: 12em;
  margin: 0;
  margin-left: -12.75em;
}

body {
    font-size: 16px;
    background-color: #EFEFEF;
    background-image: url('../images/bgimg.png');

}
.mdl-card__actions.mdl-card--border {
    border-top: 1px solid rgba(0,0,0,.1);
    background-color: ghostwhite;
}
.fa-custom-logo {
    font-size: 2.2em;
    color: grey;
    padding: 5px;
}

.fa-custom {
    font-size: 1.2em;
    padding-right: 10px;
    color: black;
}

.topgit-header {
    background-color: white !important;
    color: black;
}

.topgit-title {
    position: relative;
    bottom: 10px;
    color: green;
    font-size: 3.5vmin;
}

.topgit-sub-title {
    font-size: 2.5vmin;
    font-weight: 100;
    color: #8bc34a !important;
    position: relative;
    bottom: 11px;
    color: lightgreen !important;
}

.home {
    display: flex;
    flex-direction:row;
    justify-content: center;
}

.home__search {
    width: auto;
    height: auto;
}
.home__search__form {
    display:  flex;
    width: 100vw;
    padding: 0 100px;
    justify-content: center;
    border-bottom: 1px solid darkgoldenrod;
    background-color: hsla(0, 0%, 62%, 0.63);
}
.home__search__form__field {
    flex: 1 1;
    text-align: center;
    padding: 10px;
}
.home__search__form__field__btn, .home__search__results__pagination-btn{
    margin-top: 15px;
    color: saddlebrown;
    background-color: white;
    border: 1px solid saddlebrown;
    &:hover{
        color: white;
        background-color: saddlebrown;
    }
}
.home__search__form__field__slider {
    margin-top: 15px;
}
.home__search__form__field__slider::before {
    content: '0';
    position: absolute;
    bottom: 0;
    left: 30px;
}
.home__search__form__field__slider::after {
    content: '1000';
    position: absolute;
    bottom: 0;
    right: 30px;
}
.home__search__form__field__slider__value {
    background-color: saddlebrown;
    color: white;
    padding: 5px;
    position: relative;
    top: 0;
}
.home__search__results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.home__search__results__card {
    margin-top:  10px;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: auto;
    margin-bottom: 20px;
}
.home__search__results__card__avatar {
    width: 70px;
    height: 70px;
    display: block;
    clear: left;
    padding: 0;
    margin: 0;
}
.home__search__results__card__title {
    background-color: lightgrey;
    box-shadow: 1px 1px 1px grey;
}
.home__search__results__card__img-container {
    padding-bottom: 0;
}
.home__search__results__sub-menu {
    display: inline-flex;
}
.home__search__results__sub-menu__item{
    display: inline-flex;
    padding: 0 10px;
}
.home__search__results__sub-menu__item span{
    margin-right: 5px;
}

.home__search__toggle-btn {
    display: none;
}
.home__search__results__error {
    display: block;
    flex:  1 1 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}
.home__search__results__pagination {
    display: flex;
    justify-content:center;
    align-content:center;
    margin-bottom: 40px
}
.home__search__results__pagination-btn{
    flex-grow:1;
    justify-content: flex-start;
    width: auto;
    margin-right: 40px;
}
.loader-spinner {
    margin-left: 10px;
}
.is-hidden {
    display: none !important;
    transition: all 2s ease 0s;
}
.topgit-header__sbar-toggle-btn {
        display: none;
}
@media screen and (max-width: 800px) {
    .topgit-header__sbar-toggle-btn {
        display: flex;
    }
}
@media screen and (min-width: 800px) {
    .home__search__form {
        display: flex !important;
    }
}
@media screen and (max-width: 800px) {
.home__search__form {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 100%;
    width: 100vw;
    flex-direction: column;
}
.home__search__results__card {
    margin-top: 10px;
    width: 80vw;
    height: auto;
    margin-bottom: 20px;
}
.home__search__results__sub-menu {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
}
}
@media screen and (max-width: 550px) {

    .home__search__form__field:last-child {
        margin-bottom: 20px;

    }
    .home__search__form__field {
        flex: 1 1;
        text-align: center;
        padding: 0px;
    }
}