* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

::-webkit-input-placeholder {
    color: darkgoldenrod;
}

:-moz-placeholder {
  /* Firefox 18- */
    color: darkgoldenrod;
}

::-moz-placeholder {
  /* Firefox 19+ */
    color: darkgoldenrod;
}

:-ms-input-placeholder {
    color: darkgoldenrod;
}

body {
    font-size: 16px;
    background-color: #EFEFEF;
    background-image: url("../images/bgimg.png");
}

.fa-custom-logo {
    font-size: 2.2em;
    color: grey;
    padding: 5px;
}

.fa-custom {
    font-size: 1.2em;
    padding-right: 10px;
    color: black;
}

.topgit-header {
    background-color: white !important;
    color: black;
}

.topgit-title {
    position: relative;
    bottom: 10px;
    color: green;
}

.topgit-sub-title {
    font-size: 0.8em;
    font-weight: 100;
    color: #8bc34a !important;
    position: relative;
    bottom: 11px;
    color: lightgreen !important;
}

.home {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
}

.home__search {
    width: auto;
    height: auto;
}

.home__search__form {
    display: -ms-flexbox;
    display: flex;
    width: 100vw;
    padding: 0 100px;
    -ms-flex-pack: center;
    justify-content: center;
    border-bottom: 1px solid darkgoldenrod;
    background-color: rgba(158, 158, 158, 0.63);
}

.home__search__form__field {
    -ms-flex: 1 1;
    flex: 1 1;
    text-align: center;
    padding: 10px;
}

.home__search__form__field__btn {
    margin-top: 15px;
    color: saddlebrown;
    background-color: white;
    border: 1px solid saddlebrown;
}

.home__search__form__field__btn:hover {
    color: white;
    background-color: saddlebrown;
}

.home__search__form__field__slider {
    margin-top: 15px;
}

.home__search__form__field__slider::before {
    content: '0';
    position: absolute;
    bottom: 0;
    left: 30px;
}

.home__search__form__field__slider::after {
    content: '1000';
    position: absolute;
    bottom: 0;
    right: 30px;
}

.home__search__form__field__slider__value {
    background-color: saddlebrown;
    color: white;
    padding: 5px;
    position: relative;
    top: 0;
}

.home__search__results {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
}

.home__search__results__card {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: auto;
    margin-bottom: 20px;
}

.home__search__results__card__avatar {
    width: 70px;
    height: 70px;
    display: block;
    clear: left;
    padding: 0;
    margin: 0;
}

.home__search__results__card__title {
    background-color: lightgrey;
    box-shadow: 1px 1px 1px grey;
}

.home__search__results__card__img-container {
    padding-bottom: 0;
}

.home__search__results__sub-menu {
    display: -ms-inline-flexbox;
    display: inline-flex;
}

.home__search__results__sub-menu__item {
    display: -ms-inline-flexbox;
    display: inline-flex;
    padding: 0 10px;
}

.home__search__results__sub-menu__item span {
    margin-right: 5px;
}

.home__search__toggle-btn {
    display: none;
}

@media screen and (max-width: 800px) {
    .home__search__form {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex: 1 1 100%;
        flex: 1 1 100%;
        width: 100vw;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .home__search__results__card {
        margin-top: 10px;
        width: 80vw;
        height: auto;
        margin-bottom: 20px;
    }

    .home__search__results__sub-menu {
        display: -ms-inline-flexbox;
    }
}

@media screen and (max-width: 550px) {
    .home__search__form__field:last-child {
        margin-bottom: 20px;
    }
}
