body {
    background-color: darkgrey;
    font-size: 16px;
}

.fa-custom-logo {
    font-size: 1.6em;
}

.fa-custom {
    font-size: 1.2em;
    padding-right: 10px;
}

.topgit-title {
    position: relative;
    bottom: 2px;
}
