<div class="home" ng-controller="HomeCtrl as home">
	<div class="home__search">
		<!-- input field-->
		<form class="home__search__form" data-ng-submit="home.getGithubProjects()">
			<div class="home__search__form__field">
			  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
			    <input class="mdl-textfield__input" autofocus type="search" list="lang-list" id="search-lang" required ng-model="langField" placeholder="search ( by language )">
			    <datalist id="lang-list">
			    	<option ng-repeat="lang in home.langList track by $index" ng-value="lang">{{lang}}</option>
			    </datalist>
			    <label class="mdl-textfield__label" for="search-lang"></label>
			  </div>
			</div>
			<div class="home__search__form__field">
				<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label home__search__form__field__slider">
				    <input ng-init="starRatingRange=500" class="mdl-slider mdl-js-slider" required type="range" min="0" max="1000" ng-model="starRating" value="500" tabindex="0">
				</div>	
				<span class="home__search__form__field__slider__value" ng-bind="starRating"></span>
			</div>
			<div class="home__search__form__field">
				<button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect home__search__form__field__btn">Search</button>
			</div>
		</form>
		<div class="home__search__results">
			<div class="mdl-card mdl-shadow--2dp home__search__results__card" data-ng-repeat="project in home.gitProjectData track by $index">
			  <div class="mdl-card__title home__search__results__card__title">
			    <h2 class="mdl-card__title-text">{{project.name}}</h2>
			  </div>
			  <div class="mdl-card__title home__search__results__card__img-container">
			    <div class="mdl-card__title-text"><span><img class="home__search__results__card__avatar" ng-src="{{project.owner.avatar_url}}" alt=""></div>
			  </div>
			  <div class="mdl-card__supporting-text">{{project.description}}</div>
			  <div class="mdl-card__actions mdl-card--border home__search__results__sub-menu">
			    <p class="home__search__results__sub-menu__item"><span><i class="fa fa-star"></i></span>{{project.watchers_count}}</p>
			    <p class="home__search__results__sub-menu__item"><span><i class="fa fa-eye"></i></span>{{project.stargazers_count}}</p>
			    <p class="home__search__results__sub-menu__item"><span><i class="fa fa-code-fork"></i></span>{{project.forks_count}}</p>
			    <p class="home__search__results__sub-menu__item">{{ project.language }}</p>
			    <p class="home__search__results__sub-menu__item"><span><i class="fa fa-calendar-o"></i></span>{{ project.created_at | date: shortDate }}</p>
			    <p></p>
			  </div>
			  <div class="mdl-card__menu">
			    <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
			      <a ng-href="{{project.html_url}}" target="_blank" style="color:black !important;"><i class="material-icons">launch</i></a>
			    </button>
			  </div>
			</div>
		</div>
	</div>
</div>